@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC);
BODY {
    text-align: justify;
 /*   font-family: Neucha, Merriweather;*/
}

STRONG {
    font-weight: bolder;
    color: #000000;
    background-color: #fff170;
}

blockquote {
    border-left: 4px solid #a00;
    padding: 0 20px;
    font-style: italic;
    color: rgba(0, 0, 0, .5);
}

.prose :where(strong):not(:where([class~="not-prose"] *)) {
    color: #000;
    font-weight: 600;
}


/* for the main div */
.note {
    background: #f5f5dc;
}

.note-author { color:#1d3557; font-weight: bold;} 


/* for the span */
.note-name {
    background: #f5f5dc;
    color: #1d3557;
}

/* for the span parent blockquote */
.note-comment {
    background: #f5f5dc;
    color: #000;
}
.note-comment code {
    background: rgba(var(--color-neutral-700),var(--tw-text-opacity));
    color: #F5F5DC;
}


/**/

	#notify-bar .alert-wrapper{
		padding:5px;
	}
	#notify-bar .icon-wrap{
		height: 25px;
		display: inline-flex;
		width: 20px;
		margin: 5px 20px 0 0;
	}
	#notify-bar .notification-title{
		display: inline-flex;
		color:#fff;
		vertical-align: top;
		margin-top: 5px;
	}
	#notify-bar .icon-wrap svg{
		width: inherit;
		height: inherit;
		fill:#fff;
		padding-top:5px;
	}
	#notify-bar{
		text-align: center;
		/*background: #FF9700;*/
		background: #335599;

    }
	@media only screen and (max-width: 600px) {
			#notify-bar .icon-wrap{
				float:left;
				margin: 15px 20px 0 15px;
			}
			#notify-bar .notification-title{
				display: block;
				margin-top: 5px;
				left: 50px;
				top: -30px;
				margin-right: 30px;
			}
	}
