<footer>
  <div class="container-fluid">
  <p>
  <h2>Like my work and want to help me ?</h2>
  <ul>
    <li>
      Consider <b>tipping me</b> on <b><a target="_blank" href="https://paypal.me/poolpOrg">PayPal</a></b>,
      <b>supporting me</b> through one of the <b>sponsoring</b> platforms at <b><a
          href="https://github.com/sponsors/poolpOrg">Github</a></b>, <b><a
          href="https://patreon.com/gilles">Patreon</a></b> or
      <b><a href="https://liberapay.com/poolpOrg">LiberaPay</a></b>,
      or even <b>getting me something</b> from my wishlist on <b><a target="_blank"
          href="http://amzn.eu/3MwH6CX">Amazon</a></b>
      for positive <b><a href="https://en.wikipedia.org/wiki/Reinforcement">reinforcement</a></b> :-)
      <br />
    </li>
    <li>
      You can also help me by <b>commenting articles</b> to spark discussions,
      and by <b>sharing them</b> so they reach a bigger audience,
      they all contain a comment link and icons that will let you share to popular social networks.
    </li>
  </ul>
  </p>
  <p class="credits copyright text-muted">
    {{ if .Site.Author.name }}
    {{ if .Site.Author.website }}
    <a href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
    {{ else }}
    {{ .Site.Author.name }}
    {{ end }}
    {{ end }}

    -&nbsp;&copy;
    {{ if .Site.Params.since }}
    {{ .Site.Params.since }} - {{ .Site.LastChange.Format "2006" }}
    {{ else }}
    {{ .Site.LastChange.Format "2006" }}
    {{ end }}

    {{ if .Site.Title }}
    -
    <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
    {{ end }}
  </p>

  <!-- Please don't remove this, keep my open source work credited :) -->
  <p class="credits theme-by text-muted">
    {{ i18n "poweredBy" . | safeHTML }}
    {{ if $.GitInfo }}&nbsp;&bull;&nbsp;[<a href="{{ .Site.Params.commit }}{{ .GitInfo.Hash }}">{{ substr .GitInfo.Hash
      0 8 }}</a>]{{ end }}
  </p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.js"
  integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/contrib/auto-render.min.js"
  integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="{{ "js/main.js" | absURL }}"></script>
{{- if .Site.Params.useHLJS }}
<script src="{{ "js/highlight.min.js" | absURL }}"></script>
<script> hljs.initHighlightingOnLoad();</script>
<script> $(document).ready(function () { $("pre.chroma").css("padding", "0"); });</script>
{{- end -}}
<script> renderMathInElement(document.body);</script>

{{- partial "footer_custom.html" . }}