{{ if .IsHome }}
  {{ if .Site.Params.homeTitle }}{{ $.Scratch.Set "title" .Site.Params.homeTitle }}{{ else }}{{ $.Scratch.Set "title" .Site.Title }}{{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
{{ end }}
{{ $title := $.Scratch.Get "title" }}

{{ if $title }}
  <header class="header-section">
    <div class="intro-header no-img">
        <div class="row">
          <div>
            <div class="{{ .Type }}-heading">

              {{ if eq .Type "list" }}
                <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
              {{ else }}
                {{ if ne .Type "page" }}
                <h1 style="text-align: left;">{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
                {{ end }}
              {{ end }}
              {{ if eq .Type "post" }}
                {{ partial "post_meta.html" . }}
              {{ end }}
            </div>
          </div>
        </div>
    </div>
  </header>
{{ else }}
  <div class="intro-header"></div>
{{ end }}
