<!-- Bottom Alert Bar
================================================== -->
<div class="alertbar">
	<div class="container text-center">
        <span>
            {{ if isset .Site.Params "logo" }}
                <img src="{{ .Site.Params.logo | urlize | relURL }}" alt="logo" height="0px">
            {{ else }}
                <span style="font-family:Righteous;">{{.Site.Title}}</span>
            {{ end }}
            Consider tipping me on <a href="https://paypal.me/poolpOrg">PayPal</a>,
            supporting me through <a href="https://github.com/sponsors/poolpOrg">Github</a>,
            <a href="https://patreon.com/gilles">Patreon</a> or
            <a href="https://liberapay.com/poolpOrg">LiberaPay</a>,
            or getting me something from <a href="http://amzn.eu/3MwH6CX">Amazon</a> for positive <a href="https://en.wikipedia.org/wiki/Reinforcement">reinforcement</a> :-)
        </span>
	</div>
</div>
