{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">
      <ul>
        {{ range .Data.Pages }}
          <li>
            {{ with .Params.photo }}
            <img src="{{ . | urlize | relURL }}" class="rounded-circle" width="25px">
            {{ end }}
            <a href="{{ .Permalink }}">{{ .Params.name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
    {{ if isset .Site.Params.index "alertbar" }}
    	{{ if .Site.Params.index.alertbar }}
            {{- partial "_shared/alertbar.html" . -}}
        {{ end }}
    {{ end }}
{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}

