@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC);
BODY {
    text-align: justify;
}

STRONG {
    font-weight: bolder;
    color: #000000;
    background-color: #fff170;
}

A {
    color: #a00;
}

a:hover {
    color: #a00;
    text-decoration: underline;
}

a:visited {
    color: #a00;
}

blockquote {
    border-left: 4px solid #a00;
    padding: 0 20px;
    font-style: italic;
    color: rgba(0, 0, 0, .5);
}

/* customized medium.css */

.article-post {
    font-family: Neucha, Merriweather;
}

.mainheading h1.sitetitle {
    font-family: Neucha, Righteous;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.layout-page .article-post {
    font-family: Neucha, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
}

.mediumnavigation .navbar-brand img {
    max-height: 50px;
}

.meta-footer-thumb {
    margin-right: 10px;
}

.nav-item {
    font-family: Neucha, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
}