{{ $.Scratch.Set "icon" "ghost" }}
{{ $.Scratch.Set "author" (.Get "author") }}


<div class="note">
  <div class="flex flex-wrap article border border-neutral-200 dark:border-neutral-700 border-2 rounded-md backdrop-blur">
    <div class="w-full md:w-auto h-full thumbnail nozoom" style=background-image:url(/authors/{{ $.Scratch.Get "author" }}/profile.png)></div>
    <div class=p-4>
      <div class="items-center text-xl font-semibold">
        <!--<div class="font-bold text-xl text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral note-author" href="/authors/{{ $.Scratch.Get "author" }}">@{{ $.Scratch.Get "author" }}:</div>-->
      </div>
      <div class="text-sm text-neutral-500 dark:text-neutral-400">
        <div class="flex flex-row flex-wrap items-center">
          <span class="note-author">@{{ $.Scratch.Get "author" }}:</span>
        </div>
      </div>
<!--      <div class="py-1 max-w-fit prose dark:prose-invert note-comment">
        {{- .Inner | markdownify -}}
        </div>
        -->
        <div class="py-1 max-w-fit prose dark:prose-invert note-comment text-sm ">
          {{- .Inner | markdownify -}}
          </div>
    </div>
  </div>
</div>