{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">            
            <div class="section-title">
                <!--
                <h2><span>All Posts</span></h2>
                -->
            </div>            
            <div class="row listrecent">
                {{ $post_paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) 6 }}
                {{ range $post_paginator.Pages }}
                    {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
        {{- partial "list-partials/pagination.html" $post_paginator -}}
    </div>
{{ end }}

{{ define "footer"}}
<hr />
<div class="text-center">
    <h2>Like my work ?</h2>
    <p>
    Consider tipping me on <a href="https://paypal.me/poolpOrg">PayPal</a>,
    supporting me through one of the sponsoring platforms at <a href="https://github.com/sponsors/poolpOrg">Github</a>,
    <a href="https://patreon.com/gilles">Patreon</a> or
    <a href="https://liberapay.com/poolpOrg">LiberaPay</a>,
    or even getting me something from my wishlist on <a href="http://amzn.eu/3MwH6CX">Amazon</a> for positive <a href="https://en.wikipedia.org/wiki/Reinforcement">reinforcement</a> :-)
    </p>
</div>
<hr />
    {{- partial "_shared/jumbotron.html" . -}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
