<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ .Permalink }}">
                {{$images := .Resources.ByType "image"}}
                {{with $images.GetMatch "*cover*" }}
                    <img class="img-fluid" src="{{ .Permalink }}" alt="A thumbnail image">
                {{end}}                
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <span class="post-date">{{ dateFormat "Jan 2, 2006" .PublishDate }} - {{ .ReadingTime }} min read</span>
            {{if isset .Site.Params "author"}}
                <!--
                {{if isset .Site.Params.author "thumbnail"}}
                    <span class="meta-footer-thumb">
                        <img class="author-thumb" src="{{ .Site.Params.author.thumbnail | urlize | relURL  }}" alt="{{ .Site.Params.author.name }}">
                    </span>                
                    <span class="author-meta"></span>
                {{end}}
                -->
                <br/><span class="post-name">
                    by <a href="mailto:{{.Site.Params.author.email}}">{{ .Site.Params.author.name}}</a>
                </span>
            {{end}}
            <h4 class="card-text">{{ .Summary }}</h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->
